* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header {
    width: 100%;
    min-width: 100%;
    min-height: 75px;
    max-height: 75px;

    padding: 10px 2.5%;
    box-shadow: 0px 0px 15px 10px #000000b0;
    

    position: fixed;
    top: 0px;

}

#navbar {
    transition: all 0.3s ease-out;
    z-index: 10;
}

.logo {
    --logoSize: 90px;
    width: var(--logoSize);
    height: var(--logoSize);
    cursor: pointer;
    position: fixed;
    top: 10px;
    transition: all 0.3s ease-out;
    z-index: 100;
}

@media screen and (min-width: 600px){
    header {
        background-color: #200C64;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-left: 150px;
        padding-right: 50px;
        padding-top: 15px;

        list-style: none;
    }

    #menu-toggle {
        display: none;
    }

    .menu-bg {
        display: none;
    }
}



@media screen and (max-width: 600px){
    header {
        background-color: #200C64;
    }

    #menu-toggle {
        position: relative;
        left: 85%;
        top: 2.5px;

        background: none;
        border: none;

        transform: scale(1.25);
        z-index: 20;
    }

    #menu-toggle img {
        fill: white;

        width: 50px;
        height:auto;
    }

    .navMenu {
        --isDown: 0;

        background: #200C64;
        overflow: hidden;

        position: relative;
        top: -300px;
        left: -12.5px;
        border-radius: 20px;

        height: 10%;
        width: 107%;

        padding-top: 5px;
        padding-bottom: 15px;

        display:block;
        z-index: 11;

        transition: top 0.75s ease-in-out;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
    }

    .menu li {
        text-align: center;
        flex: 100%;

        font-size: 50px;
    }

    .menu li a {
        font-size: 25px;
    }

    #menu-bg {
        position: fixed;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 9;
        display:none;
        opacity: 0;

        transition: all 0.5s ease-in-out;
    }
}
   