@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/*font-family: 'Ubuntu', sans-serif;*/

:root {
    --fade-duration : 1s;
    --main-bg-color : #20182c;
}

body {
    background-color: var(--main-bg-color);
    margin-bottom: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.header-spacer {
    padding: 37.5px;
    background-color: none;
}

.pre-content {
    width: 100%;
    padding: 0% 10%;
    height: auto;
    background-color: none;
    margin-top: 75px;
    text-align: center;
}

.pre-content div {
    display: flex;
    justify-content: center;
    background-color: none;
    max-width: 100%;
}

#welcome-title {
    color: white;
}

#welcome-title span {
    color: whitesmoke;
    word-spacing: normal;
    font-size: 1.75em;
    background-image: linear-gradient(340deg, #ffb100 5%, #00d7d7 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
}

#welcome-txt {
    color: rgba(218, 218, 218, 0.925);
    font-size: 1.25em;
    font-weight: 300;
    margin-bottom: 25px;
}

#welcome-txt span:nth-of-type(1) {
    color: whitesmoke;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
    font-size: 1.2em;
}

#welcome-txt span:nth-of-type(2), span:nth-of-type(3) {
    color: green;
    background-color:rgb(31, 31, 31);
    border-radius: 5px;
    padding: 2px;
    font-family: "Consolas";
}

#site-desc {
    color: rgba(218, 218, 218, 0.925);
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 250px;
    text-align: justify;
}

@keyframes Kanimation {
    0% {
        top: 50px;
        right: 40px;
    }
    50% {
        top: 0px;
        right: 0px;
    }
    100% {
        top: 50px;
        right: 40px;
    }
}

.bigKDiv {
    top: 50px;
    right: 40px;
    background-color: none;
    position: relative;
    animation-name: Kanimation;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        top: 0px;
    }
    100% {
        opacity: 1;
        top: 30px;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        top: 0px;
    }
    100% {
        opacity: 1;
        top: -30px;
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        left: calc( var(--left-pos) + 0px)
    }
    100% {
        opacity: 1;
        left: calc( var(--left-pos) + 30px);
    }
}

.fadeOnLoadAnimation {
    animation: var(--direction) ease-out var(--fade-duration);
}

.fadeOnLoad {
    opacity: 0;
    position: relative;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: var(--delay);
}

.content {
    margin-top: 75px;
}

.sect1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonMenu {
    float: right;
    margin-top: 0px;
    margin-right: 25px;
    list-style: none;
}

.buttonMenu li {
    margin: 25px 50px;
}

.buttonMenu li button {
    height: 50px;
    width: 150px;
}

.bigK {
    --left-pos : -50px;
    width: 1200px;
    height: 1200px;
    filter: drop-shadow(5px 20px 15px rgba(0, 0, 0, 0.699));
}

.bg-gradient {
    width: 100%;
    height: 1300px;
    position: absolute;
    transform: skewY(350deg);
    top: -350px;

    background: linear-gradient(
        141deg,
        #3f2ff0 10%,
        #4157fb 33%,
        #71a8e0 66%,
        #9ff4c8 100%);

    background-color: transparent;
    box-shadow: 0px 0px 30px 0px black;
}