@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/*font-family: 'Ubuntu', sans-serif;*/

body {
    background-color: #20182c;
    margin-bottom: 500px;
}

.header-spacer {
    padding: 37.5px;
    background-color: none;
}

.pre-content {
    width: 100%;
    padding: 0% 10%;
    height: auto;
    background-color: none;
    margin-top: 75px;
}

.pre-content div {
    display: flex;
    justify-content: center;
    background-color: none;
}

#welcome-title {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

#welcome-title span {
    color: whitesmoke;
    word-spacing: normal;
    font-size: 1.75em;
}

#welcome-txt {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 1.25em;
    font-weight: 300;
    margin-bottom: 250px;
}

:root {
    --fade-duration : 1s;
}

@keyframes Kanimation {
    0% {
        top: 50px;
        right: 40px;
    }
    50% {
        top: 0px;
        right: 0px;
    }
    100% {
        top: 50px;
        right: 40px;
    }
}

.bigKDiv {
    top: 50px;
    right: 40px;
    background-color: none;
    position: relative;
    animation-name: Kanimation;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        top: 0px;
    }
    100% {
        opacity: 1;
        top: 30px;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        top: 0px;
    }
    100% {
        opacity: 1;
        top: -30px;
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        left: calc( var(--left-pos) + 0px)
    }
    100% {
        opacity: 1;
        left: calc( var(--left-pos) + 30px);
    }
}

.fadeOnLoadAnimation {
    animation: var(--direction) ease-out var(--fade-duration);
}

.fadeOnLoad {
    opacity: 0;
    position: relative;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: var(--delay);
}

.content {
    margin-top: 75px;
    /*background-color: #fff;*/
}

.sect1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonMenu {
    float: right;
    margin-top: 0px;
    margin-right: 25px;
    list-style: none;
}

.buttonMenu li {
    margin: 25px 50px;
}

.buttonMenu li button {
    height: 50px;
    width: 150px;
}

.bigK {
    --left-pos : -50px;
    width: 1200px;
    height: 1200px;
}